In [3]:
import pandas as pd

In [4]:
# importar aquivo .csv
df = pd.read_csv('produtos.csv', sep=';')
df

       Categoria      Produto   Preço  Quantidade Data de Venda
0    Eletrônicos      Celular  158.83           5    2024-09-06
1         Roupas  Calça Jeans  372.93           7    2024-10-31
2      Alimentos         Café  133.16           5    2024-10-21
3         Beleza     Sabonete  168.02           8    2025-02-08
4      Alimentos        Arroz  161.26           5    2024-09-30
..           ...          ...     ...         ...           ...
195       Livros      Técnico  372.60           2    2025-02-24
196       Roupas  Calça Jeans  383.24           3    2024-12-16
197    Alimentos       Feijão  222.36           5    2025-04-03
198    Alimentos        Arroz  143.84           9    2024-07-27
199       Roupas        Tênis  342.73           2    2025-01-21

[200 rows x 5 columns]

In [5]:
#Desempenhos de vendas por categoria usando o groupby usando o arquivo produtos.csv
vendas_categoria = df.groupby('Categoria')['Quantidade'].sum()
vendas_categoria

Categoria
Alimentos      181
Beleza         204
Eletrônicos    249
Livros         221
Roupas         208
Name: Quantidade, dtype: int64

In [ ]:
# após o insight, exportar o resultado para um novo arquivo .csv
vendas_categoria.to_csv('vendas_por_categoria.csv', sep=';')

In [8]:
#Produto mais vendido
produto_mais_vendido = df.groupby('Produto')['Quantidade'].sum().idxmax()
produto_mais_vendido

'Notebook'

In [11]:
# Produtos mais vendidos
produtos_mais_vendidos = df.groupby('Produto')['Quantidade'].sum()
produtos_mais_vendidos

Produto
Arroz             36
Boné              31
Café              25
Calça Jeans       49
Camiseta          30
Carregador        48
Celular           51
Creme             30
Didático          55
Feijão            43
Fone de Ouvido    19
HQ                59
Infantil          47
Jaqueta           53
Leite             24
Macarrão          53
Maquiagem         53
Mouse             62
Notebook          69
Perfume           31
Romance           23
Sabonete          23
Shampoo           67
Técnico           37
Tênis             45
Name: Quantidade, dtype: int64

In [16]:
media_precos = df.groupby('Produto')['Preço'].mean()
media_precos

Produto
Arroz             168.620000
Boné              319.822857
Café              317.150000
Calça Jeans       299.480000
Camiseta          270.122857
Carregador        216.495000
Celular           288.701818
Creme             227.507143
Didático          284.854444
Feijão            229.057143
Fone de Ouvido    241.593333
HQ                302.265556
Infantil          284.758571
Jaqueta           297.095000
Leite             296.006667
Macarrão          218.677778
Maquiagem         260.139000
Mouse             223.263000
Notebook          271.980909
Perfume           350.941667
Romance           233.282500
Sabonete          342.790000
Shampoo           289.818000
Técnico           179.051250
Tênis             316.249000
Name: Preço, dtype: float64

In [19]:
#Correlações entre preço e quantidade vendida
correlacao_preco_quantidade = df['Quantidade'].corr(df['Preço'])
correlacao_preco_quantidade

np.float64(0.00588963010990304)