In [1]:
import pandas as pd

In [3]:
# importar aquivo .csv
df = pd.read_csv('produtos.csv', sep=';')
df

       Categoria      Produto   Preço  Quantidade Data de Venda
0    Eletrônicos      Celular  158.83           5    2024-09-06
1         Roupas  Calça Jeans  372.93           7    2024-10-31
2      Alimentos         Café  133.16           5    2024-10-21
3         Beleza     Sabonete  168.02           8    2025-02-08
4      Alimentos        Arroz  161.26           5    2024-09-30
..           ...          ...     ...         ...           ...
195       Livros      Técnico  372.60           2    2025-02-24
196       Roupas  Calça Jeans  383.24           3    2024-12-16
197    Alimentos       Feijão  222.36           5    2025-04-03
198    Alimentos        Arroz  143.84           9    2024-07-27
199       Roupas        Tênis  342.73           2    2025-01-21

[200 rows x 5 columns]

In [9]:
#Desempenhos de vendas por categoria usando o groupby usando o arquivo produtos.csv
vendas_categoria = df.groupby('Categoria')['Quantidade'].sum()
vendas_categoria

Categoria
Alimentos      181
Beleza         204
Eletrônicos    249
Livros         221
Roupas         208
Name: Quantidade, dtype: int64

In [8]:
produto_mais_vendido = df.loc[df['Quantidade'].idxmax()]
produto_mais_vendido

Categoria         Alimentos
Produto               Leite
Preço                306.27
Quantidade               10
Data de Venda    2024-07-27
Name: 13, dtype: object